<div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="wrapper fadeInDown">
                  <div id="formContent">
                    <!-- Tabs Titles -->
                
                    <!-- Icon -->
                    <img src="../../assets/images/logo3.png" id="icon" alt="User Icon" height="200" width="150"/>
                
                    <!-- <div id="formFooter">
                        <img src="images/logo3.png" id="icon" alt="User Icon" />
                    </div> -->
                    <!-- Login Form -->
                    <form  #f="ngForm" (ngSubmit)= "submit(f)"> 
                      <input type="text" ngModel id="login" class="fadeIn second" name="phone" required placeholder="اسم المستخدم ">
                      <input type="password" ngModel id="password" class="fadeIn third" name="password" required placeholder="كلمة المرور">
                      <input type="submit" class="fadeIn fourth" value="تسجيل دخول">
                    </form>
                
                    <!-- Remind Passowrd -->
                    <div id="formFooter">
                      <a class="" href="#" style="margin-left:40px">نسيت كلمة السرّ ؟</a>
                      <a class="" routerLink="/signup">تسجيل مستخدم جديد</a>
    
                    </div>
                
                  </div>
                </div>
          </div>
    
        </div>
        
      </div>
