/**** Start Default Theme ****/

/* Active Link */

/* .navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .gear-check
{
    /* background-color:#e60024 */
    background-color:rgb(238, 102, 26);
} */

.navbar-inver .navbar-brand span,
.about h1 span,
.testimonials span,
.footer h3,
.footer .copyright span
{
    /* color:#e60024 */
    color:rgb(238, 102, 26);
}

.option-box .color-option,
.testimonials .carousel-indicators li.active
{
    /* border: 3px solid #e60024 */
    border: 3px solid rgb(238, 102, 26);
}

.dropdown-menu
{
    /* border-top:3px solid #e60024 */
    border-top: 3px solid rgb(238, 102, 26);
}

/**** End Default Theme ****/