<div id="myslide" class="carousel slide " data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myslide" data-slide-to="0" class="active"></li>
      <li data-target="#myslide" data-slide-to="1"></li>
      <li data-target="#myslide" data-slide-to="2"></li>
      <li data-target="#myslide" data-slide-to="3"></li>
    </ol>
  
    <div class="carousel-inner">
      <div class="item active">
          <div style="height:720px;">
              <img src="../../assets/images/03-2.jpg" width="1550" height="720"  alt="Pic 3" >
          </div> 
        
          <div class="carousel-caption ">
              <h2 style="font-family: 'Courier New', Courier, monospace;" class="h1">Changing your Culture</h2>
              <h2 class="h1" style="font-size:40px;">مش أي حد هيدخل بيتك</h2>
              <a routerLink="/order"><button value="اطلب أوسطفندي" class="osta-btn" >اطلب أوسطفندي</button></a>
              
              <!-- <button type="button" class="btn btn-lg btn-block" style="background-color: rgb(238, 102, 26);"> اطلب اوسطفندي</button> -->
          </div>
      </div> 
    </div>
  
    <a class="left carousel-control" href="#myslide" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    
    <a class="right carousel-control" href="#myslide" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    
  </div>

  <!-- End Carousel -->
  
  
  
  <!-- Start Section Features -->
  
  <section class="features text-center" id="servicesId">
      <div class="container">
          <h2 class="h1">خدماتنا</h2>
          <div class="row">
              
              <div class="col-lg-3 col-md-6">
                  
                  <div class="feat wow bounceInLeft" data-wow-duration="1s" data-wow-offset="200">
                      <img src="../../assets/images/carpenter.png" alt="" width="150px" height="150px">
                      <!-- <h3> سباكه</h3> -->
                  </div>
                  
              </div>
              <div class="col-lg-3 col-md-6">
                  
                  <div class="feat wow bounceInLeft" data-wow-duration="1s" data-wow-offset="200">
                      <img src="../../assets/images/blumper.png" alt="" width="150px" height="150px">
                      <!-- <h3> اخري</h3> -->
                  </div>
                  
              </div>

              <div class="col-lg-3 col-md-6">
                  
                  <div class="feat wow bounceInLeft" data-wow-duration="1s" data-wow-offset="200">
                      <img src="../../assets/images/Electricity.png" alt="" width="150px" height="150px">
                      <!-- <h3> اخري</h3> -->
                  </div>
                  
              </div>

              <div class="col-lg-3 col-md-6">
                  
                  <div class="feat wow bounceInLeft" data-wow-duration="1s" data-wow-offset="200">
                      <img src="../../assets/images/ELECTRONICS.png" alt="" width="150px" height="150px">
                      <!-- <h3> اخري</h3> -->
                  </div>
                  
              </div>
   
          </div>


          <div class="row">
              
              <div class="col-lg-3 col-md-6">
                  
                  <div class="feat wow bounceInLeft" data-wow-duration="1s" data-wow-offset="200">
                      <img src="../../assets/images/ELECTRIC-D.png" alt="" width="150px" height="150px">
                      <!-- <h3> اخري</h3> -->
                  </div>
                  
              </div>
              
              <div class="col-lg-3 col-md-6">
                  
                  <div class="feat wow bounceInDown" data-wow-duration="1s" data-wow-offset="200">
                      <img src="../../assets/images/CCTV.png" alt="" width="150px" height="150px">
                      <!-- <h4> صيانه</h4> -->
                  </div>
                  
              </div>
              
              <div class="col-lg-3 col-md-6">
                  
                  <div class="feat wow bounceInUp" data-wow-duration="1s" data-wow-offset="200">
                      <img src="../../assets/images/Paints.png" alt="" width="150px" height="150px">
                      <!-- <h4> نجاره</h4> -->
                  </div>
                  
              </div>
              
              <div class="col-lg-3 col-md-6">
                  
                  <div class="feat wow bounceInRight" data-wow-duration="1s" data-wow-offset="200">
                      <img src="../../assets/images/metalworks.png" alt="" width="150px" height="150px">
                      <!-- <h4> سباكه</h4> -->
                      
                  </div>
                  
              </div>
              <a routerLink="/order"><button value="اطلب وسطفندي" class="osta-btn" >اطلب أوسطفندي</button></a> 

          </div>

      </div>
  </section>
  
  <!-- End Section Features -->
  
  <!-- start Section why reserve  -->

  <section class="about text-center wow bounceIn" data-wow-duration="2s" data-wow-offset="300" style="background-color:#f6f6f6">
      <div class="container">
          <h1 class="h1">ازاي تحجز مع <span style="color: rgb(255, 145, 0);"> أوسطفندي</span></h1>
          <div class="row">
              
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <img src="../../assets/images/stopwatch.png" alt="" height="100" width="100">
                  <h4 >   احجز موعدك</h4>
                  <p>you can search for your favourite craftsman.</p>
              </div>
              
              <div class="col-lg-3 col-md-6 col-sm-12 ">
                  <img src="../../assets/images/worker.png" alt="" height="100" width="100">
                  <h4 >  قارن وإختار</h4>
                  <p>you can search for your favourite craftsman.</p>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12 ">
                  <img src="../../assets/images/search-3.png" alt="" height="100" width="100">
                  <h4 >دوّر على أوسطفندي</h4>
                  <p>you can search for your favourite craftsman.</p>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12 ">
                  <img src="../../assets/images/key.png" alt="" height="100" width="100">
                  <h4 > سجّل معانا</h4>
                  <p>you can search for your favourite craftsman.</p>
              </div>

          </div>
      </div>
  </section>
  <!-- end Section why reserve  -->

   <!-- Start FAQ Intro -->
  
   <section class="faq text-center">
      <h1 class="h1">  الأسئلة المتكرره علي <span> أوسطفندي</span></h1>
      <div class="container">
          <!-- <p class="lead">Here You Will Find All Questions You Are Searching For And The Full Knowledgebase</p> -->
      </div>
  </section>
  
  <!-- End FAQ Intro -->
  
  <!-- Start FAQ Accordion -->
  
  <section class="faq-questions">
      <div class="container">
          <div class="panel-group" id="accordion" roles="tablist" aria-multiselectable="true">
              
              <!-- Start Question 1 -->
              
              <div class="panel panel-default">
                  <div class="panel-heading" roles="tab" id="heading-one">
                      <h4 class="panel-title">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-one" aria-expanded="true" arial-controls="collapse-one">
                               ليه تطلب أوسطفنـدي؟
                          </a>
                      </h4>
                  </div>
                  <div id="collapse-one" class="panel-collapse collapse" roles="tabpanel" aria-labelledby="heading-one">
                      <div class="panel-body">
                          أوسطفندي شركة توفر لك أفضل الصنايعية في تخصصات مختلفة علي منصة واحدة </div>
                  </div>
              </div>
              
              <!-- End Question 1 -->
              
              <!-- Start Question 2 -->
              
              <div class="panel panel-default">
                  <div class="panel-heading" roles="tab" id="heading-two">
                      <h4 class="panel-title">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-two" aria-expanded="true" arial-controls="collapse-two">
                              كيف أطلب أوسطفنـدي؟
                          </a>
                      </h4>
                  </div>
                  <div id="collapse-two" class="panel-collapse collapse" roles="tabpanel" aria-labelledby="heading-two">
                      <div class="panel-body">
                              بتسجيل بياناتك الأساسية فقط تستطيع عندئذ التواصل مع كافة الصنايعية، فقط إختر المنطقة و المدينة والتخصص الذي تريد وسيظهر لك الصنايعية المتاحين  
                      </div>
                  </div>
              </div>
              
              <!-- End Question 2 -->
              
              <!-- Start Question 3 -->
              
              <div class="panel panel-default">
                  <div class="panel-heading" roles="tab" id="heading-three">
                      <h4 class="panel-title">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-three" aria-expanded="true" arial-controls="collapse-three">
                              كيف تتم محاسبة الأوسطفنـدي؟
                          </a>
                      </h4>
                  </div>
                  <div id="collapse-three" class="panel-collapse collapse" roles="tabpanel" aria-labelledby="heading-three">
                      <div class="panel-body">
                          الشركة توفر لكل الصنايعية نظام التسعير الذكي الخاص بها الذي يصدر فاتورة إليكترونية فورية للعميل بها كافة البيانات المتعلقة بسعر المصنعية و كيفية تحديدها   
                      </div>
                  </div>
              </div>
              
              <!-- End Question 3 -->
              
              <!-- Start Question 4 -->
              
              <div class="panel panel-default">
                  <div class="panel-heading" roles="tab" id="heading-four">
                      <h4 class="panel-title">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-four" aria-expanded="true" arial-controls="collapse-four">
                              هل سعر أوسطفنـدي عالي؟
                          </a>
                      </h4>
                  </div>
                  <div id="collapse-four" class="panel-collapse collapse" roles="tabpanel" aria-labelledby="heading-four">
                      <div class="panel-body">
                              بالطبع لا؛ فالشركة لا تأخذ نسبة من مصنعية الصنايعي و هذا من الميزات الفريدة التي تمتلكها الشركة دون غيرها                            </div>
                  </div>
              </div>
              
              <!-- End Question 4 -->
              
          </div>
      </div>
  </section>
  
  <!-- End FAQ Accordion -->

  <!-- Start Section Contact Us -->
  
  <section id="contactId" class="contact-us2 text-center" style="background-color:#f6f6f6">
      <!-- <div class="fields"> -->
          <div class="container">
              <div class="row">
                  <i class="fa fa-headphones fa-5x"></i>
                  <h2 class="h1">شاركنا برأيك</h2>
                  <p class="lead">كلمنا في أي وقت</p>
                                          
                  <form role="form">
                      <div class="col-md-6 wow bounceInLeft" data-wow-duration="1s" data-wow-offset="100">
                          <div class="form-group">
                              <input type="text" class="form-control input-lg" placeholder="اسم المستخدم">
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control input-lg" placeholder="البريد الالكتروني">
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control input-lg" placeholder="رقم الهاتف ">
                          </div>
                      </div>
                      <div class="col-md-6 wow bounceInRight" data-wow-duration="1s" data-wow-offset="100">
                          <div class="form-group">
                              <textarea class="form-control input-lg" placeholder="اترك رسالتك"></textarea>
                          </div>
                          <button type="button" class="btn btn-lg btn-block">تواصل معنا</button>
                      </div>
                  </form>
                                      
              </div>
          </div>
      <!-- </div> -->
  </section>
  
  <!-- End Section Contact Us -->
  <section class="footer2">
    <div class="container">
        <div class="row" dir="rtl">
            
            
            <div class="out">

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 footercol">
                <a class="" href="index.html"><h4>تواصل معنا</h4></a><br>
                <a href="" style="font-family: 'Droid Arabic Kufi', serif;">خدمة العمــلاء : 01200006293</a><br>
                <a href="" style="font-family: 'Droid Arabic Kufi', serif;">رقم الواتساب : 01275500234</a><br>
                <a href="" style="font-family: 'Droid Arabic Kufi', serif;">رقم الواتساب : 01275500345</a><br>
                <div class="row">
                    <a href=""><i class="fa fa-facebook fa-2x"></i></a> 
                    <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fa fa-instagram fa-2x"></i></a>
                </div> 
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 footercol" >
                <a class="" href="index.html"><h4>تحتاج للمساعده ؟</h4></a><br>
                <a href="index.html#contactId">اتصل بنا</a><br>
                <a href="">اتفاقية الخصوصية</a><br> 
                <a href="">اتفاقية الخصوصية للأوسطفندي</a><br>      
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 footercol">
                <a class="" href="index.html"><h4>هل أنت صنايعي ؟</h4></a><br>
                <a href="">خليك أوسطفندي</a><br>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 footercol" >
                <a class="" href="index.html"><h4>أوسطفندي</h4></a><br>
                <a href="">من نحن</a><br>
                <a href="">وظائف وتدريب</a><br>
            </div>
            </div>
        </div>
    </div>

</section>


  <section style="background-color:#2977dfef ; color: cornsilk ;" >
      <div class="copyright text-center" >
          Copyright &copy; 2019 <span>Ostafandy</span> .Inc
      </div>
  </section>
  
  
  <div id="scroll-top">
      <i class="fa fa-chevron-up fa-3x"></i>
  </div>
  
  <!-- End Scroll To Top -->
  
